.books-section {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 60px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 1300px) {
    .books-section {
        grid-template-columns: repeat(2, auto);
        width: 95%;
    }
}

@media only screen and (max-width: 700px) {
    .books-section {
        grid-template-columns: repeat(1, auto);
    }
}


.booksTitle{
    font-family:'SpaceGrotesk-Light';
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 30px;
    background-color: #038587;
	color:whitesmoke;
	line-height: 1.2;
    font-weight: 500;
}
